In [2]:
from pyspark.sql.types import BooleanType
from pyspark.sql.functions import udf
from pyspark.sql import functions as F
from pyspark.sql import SparkSession
from pyspark.sql import Window
from pyspark.ml.feature import Tokenizer
from pyspark.ml.feature import NGram

In [3]:
spark = SparkSession.builder.getOrCreate()

In [4]:
companies = spark.read.csv(
            "companies.csv", 
            header=True, inferSchema=True)
alldat = spark.read.csv('alldata.csv',
                       header=True, inferSchema=True)

In [5]:
companies.count()

7310

In [6]:
companies.show(10)

+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+-----------+------------------+------------------+--------------------+--------------------+
|              ticker|        company name|          short name|            industry|         description|             website|     logo|                 ceo|            exchange| market cap|            sector|             tag 1|               tag 2|               tag 3|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+-----------+------------------+------------------+--------------------+--------------------+
|                   A|Agilent Technolog...|             Agilent|Medical Diagnosti...|Agilent Technolog...|http://www.agilen...|    A.png| Michael R. McMullen|New York Stock Ex...|24218068096|        Healthcare|        Healthcare|Diagnostics & Res...|Medical Diagnosti...|
|                  AA|   Alcoa Corporation|               Alcoa|     Metals & Mining|Alcoa Corp is an ...|http://www.alcoa.com|   AA.png|Roy Christopher H...|New York Stock Ex...| 5374966543|   Basic Materials|   Basic Materials|            Aluminum|     Metals & Mining|
|                AABA|         Altaba Inc.|              Altaba|    Asset Management|Altaba Inc is an ...|http://www.altaba...| AABA.png| Thomas J. Mcinerney|Nasdaq Global Select|41223683414|Financial Services|Financial Services|    Asset Management|                null|
|                 AAC|   AAC Holdings Inc.|                 AAC|Health Care Provi...|AAC Holdings Inc ...|http://www.americ...|     null|Michael T. Cartwr...|New York Stock Ex...|   63720099|        Healthcare|        Healthcare|        Medical Care|Health Care Provi...|
|                AADR|AdvisorShares Dor...|AdvisorShares Dor...|                null|The investment se...|                null|     null|                null|                null|       null|              null|              null|                null|                null|
| The fund seeks t...| most often Ameri...|http://www.adviso...|            AADR.png|                null|           NYSE Arca|103161180|                null|                null|       null|              null|              null|                null|                null|
|                 AAL|American Airlines...|   American Airlines|            Airlines|American Airlines...|   http://www.aa.com|  AAL.png|   W. Douglas Parker|Nasdaq Global Select|16940186209|       Industrials|       Industrials|            Airlines|                null|
|                AAMC|Altisource Asset ...|Altisource Asset ...|    Asset Management|Altisource Asset ...|http://www.altiso...|     null|   George G. Ellison|       NYSE American|   44907363|Financial Services|Financial Services|    Asset Management|                null|
|                AAME|Atlantic American...|   Atlantic American|    Insurance - Life|Atlantic American...|http://www.atlam.com|     null|    Hilton H. Howell|NASDAQ Global Market|   56558079|Financial Services|Financial Services|    Insurance - Life|                null|
|                 AAN|        Aaron's Inc.|             Aaron's|Consulting & Outs...|Aaron's Inc is a ...|http://www.aarons...|  AAN.png|    John W. Robinson|New York Stock Ex...| 3677542512|       Industrials|       Industrials|Rental & Leasing ...|Consulting & Outs...|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+-----------+------------------+------------------+--------------------+--------------------+
only showing top 10 rows

In [7]:
alldat.show(10)

+--------------------+--------------------+--------------------+--------------------+--------------------+
|            position|             company|         description|             reviews|            location|
+--------------------+--------------------+--------------------+--------------------+--------------------+
|Development Director|             ALS TDI|Development Director|                null|                null|
|ALS Therapy Devel...| the Development ...| generating aware...| prospects and do...|                 GA.|
|       Requirements:|                null|                null|                null|                null|
|Bachelor's Degree...| written and pres...| as well as the a...|         spreadsheet|            database|
|About ALS Therapy...|                null|                null|                null|                null|
|The ALS Therapy D...| the charity unde...|  based in Cambridge|                  MA| has served as on...|
|            To Apply|                null|                null|                null|                null|
|Please apply at h...| salary requireme...|                null|                null|                null|
|ALS TDI is an equ...|                null|  Atlanta, GA 30301 |                null|                null|
|An Ostentatiously...|  The Hexagon Lavish|     Job Description|                null|                null|
+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 10 rows

In [8]:
companies.columns

['ticker',
 'company name',
 'short name',
 'industry',
 'description',
 'website',
 'logo',
 'ceo',
 'exchange',
 'market cap',
 'sector',
 'tag 1',
 'tag 2',
 'tag 3']

In [9]:
alldat.columns

['position', 'company', 'description', 'reviews', 'location']

In [10]:
all_companies = companies.join(alldat,companies['company name'] == alldat['company'], 'inner')

In [11]:
all_companies.show(5)

+--------------------+---------------+--------------------+--------------------+--------------------+--------------------+---------+---------+---------+----------+------+-----+-----+-----+--------------------+---------------+--------------------+-------------------+--------------------+
|              ticker|   company name|          short name|            industry|         description|             website|     logo|      ceo| exchange|market cap|sector|tag 1|tag 2|tag 3|            position|        company|         description|            reviews|            location|
+--------------------+---------------+--------------------+--------------------+--------------------+--------------------+---------+---------+---------+----------+------+-----+-----+-----+--------------------+---------------+--------------------+-------------------+--------------------+
| The fund general...|         design| production or di...|http://www.invesc...|             PSJ.png|                null|NYSE Arca|300230000|     null|      null|  null| null| null| null|Experience follow...|         design|                code| and defect reviews|                null|
| The fund general...|    development|         manufacture| sale or distribu...|http://www.invesc...|             PJP.png|     null|NYSE Arca|476136000|      null|  null| null| null| null|Facilitates the d...|    development| and planning of ...|               null|                null|
| The fund general...|    development| manufacture and ...| services and pro...| etc. It is non-d...|http://www.invesc...|  PBE.png|     null|NYSE Arca| 283932000|  null| null| null| null|Facilitates the d...|    development| and planning of ...|               null|                null|
| The Shares are i...| transportation| warehousing and ...| they provide inv...|http://www.etfsec...|            SGOL.png|     null|NYSE Arca|886515000|      null|  null| null| null| null|              Travel| transportation| and moving expen...|               null|                null|
| The fund general...|    development|         manufacture| sale or distribu...|http://www.invesc...|             PJP.png|     null|NYSE Arca|476136000|      null|  null| null| null| null|Apply health scie...|    development| and conduct of s...|             causes| and risk factors...|
+--------------------+---------------+--------------------+--------------------+--------------------+--------------------+---------+---------+---------+----------+------+-----+-----+-----+--------------------+---------------+--------------------+-------------------+--------------------+
only showing top 5 rows

In [12]:
def ngram_gen (dataset,column_name):
    tokenizer = Tokenizer(inputCol = column_name, outputCol = 'token')
    ngram = NGram(n = 2, inputCol = 'token', outputCol = 'ngram')
    unigram = tokenizer.transform(dataset)
    bigram = ngram.transform(unigram)
    return unigram,bigram

In [13]:
null=alldat.select('location').dropna()
dropped=null.select(F.split('location', ' ')[0].alias('city'))
dropped_null = dropped[dropped.city.contains(',')]
dropped_null.show(5)

+--------+
|    city|
+--------+
|Atlanta,|
|Atlanta,|
|Atlanta,|
|Atlanta,|
|Atlanta,|
+--------+
only showing top 5 rows

In [14]:
dropped_null.createOrReplaceTempView('city')
city_count = spark.sql("SELECT city, COUNT(city) AS frequency FROM city GROUP BY city ORDER BY frequency ")
city_count.show(15)

+-----------+---------+
|       city|frequency|
+-----------+---------+
|Parsippany,|        1|
|  Berkeley,|        1|
|  Lynbrook,|        1|
| Allendale,|        1|
|Burlingame,|        1|
|  Martinez,|        1|
| Fairfield,|        1|
|     Union,|        1|
| Manhasset,|        1|
|  Richmond,|        2|
|   Hayward,|        2|
|Emeryville,|        2|
| Manhattan,|        2|
|   Belmont,|        2|
|  Brooklyn,|        3|
+-----------+---------+
only showing top 15 rows

In [15]:
companies.createOrReplaceTempView('industry')
industry_count = spark.sql("SELECT industry, COUNT(industry) AS frequency FROM industry GROUP BY industry ORDER BY frequency ")
industry_count.show(10)

+--------------------+---------+
|            industry|frequency|
+--------------------+---------+
|                null|        0|
| they provide inv...|        1|
| of the S&P 500 I...|        1|
|             DHS.png|        1|
|              grains|        1|
| of its total ass...|        1|
| such as strong R...|        1|
| such as converti...|        1|
|             PIZ.png|        1|
| and small U.S. c...|        1|
+--------------------+---------+
only showing top 10 rows

In [16]:
def sparkset ():
    city_freq_ngram = ngram_gen(city_count, 'city')[1]
    companies_ngram = ngram_gen(industry_count, 'industry')[1]
    return city_freq_ngram , companies_ngram

In [17]:
sparkset()[0].show()

+-----------+---------+-------------+-----+
|       city|frequency|        token|ngram|
+-----------+---------+-------------+-----+
| Manhasset,|        1| [manhasset,]|   []|
|     Union,|        1|     [union,]|   []|
|  Lynbrook,|        1|  [lynbrook,]|   []|
|  Berkeley,|        1|  [berkeley,]|   []|
|  Martinez,|        1|  [martinez,]|   []|
| Allendale,|        1| [allendale,]|   []|
| Fairfield,|        1| [fairfield,]|   []|
|Burlingame,|        1|[burlingame,]|   []|
|Parsippany,|        1|[parsippany,]|   []|
|  Richmond,|        2|  [richmond,]|   []|
|Emeryville,|        2|[emeryville,]|   []|
|   Hayward,|        2|   [hayward,]|   []|
|   Belmont,|        2|   [belmont,]|   []|
| Manhattan,|        2| [manhattan,]|   []|
|  Brooklyn,|        3|  [brooklyn,]|   []|
|   Alameda,|        4|   [alameda,]|   []|
|   Boulder,|        8|   [boulder,]|   []|
|   Oakland,|        9|   [oakland,]|   []|
|   Redmond,|       17|   [redmond,]|   []|
| Sunnyvale,|       20| [sunnyvale,]|   []|
+-----------+---------+-------------+-----+
only showing top 20 rows